<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Grupo 1</title>
    <link rel="stylesheet" href="../public/css/styles.css">
  </head>
  <body>
    <header>
      <h1 align="left">Juegoland</h1></header>
    <p> Bienvenidos a la esta recopilación de juegos para distintas Consolas

   <nav class="barra-de-navegacion">
    <ul>
    <li><a href="#">Logo Juegoland</a></li> 
    <li><a href="#">Los 10 mejores</a></li> 
    <li><a href="#">Novedades</a></li> 
    <li><a href="#">Consolas</a></li> 
    <li><a href="#">Loguin</a></li> 
  </nav>
<section>
  <header>
    <h2 align="center">El juego destacado de la semana </h2>
 </header>
 <a href=../images/mario-bros-35-a.jpg></a>
    <p>SUPER MARIO BROS: HISTORIA DEL JUEGO ICÓNICO DE NINTENDO

      Fue creado por .... en 1980. Desde sus comienzos ....
      
      SU EVOLUCIÓN:...</p>
</section>


  <footer>

    <p> Todos los derechos reservados </p>
    <div>
      <ul>
        <li> <a href="#">Quienes somos?</a></li>
        <li> <a href="#">Contactos</a></li>
        <li> <a href="#">Redes sociales</a></li>
        <li> <a href="#">Información legal</a></li>
      </ul> 

    </div>
  </footer>
  </body>
</html>
