<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Proyecto Grupo 1 Juegoland</title>
  </head>
  <body>
    <header>
      <div class="logo" >
        <img src="/images/logo2.PNG" alt="Logo de Juegoland"/>
      </div>
      <nav class="barra-de-navegacion">
     <ul>
         <li><a href="#">Los 10 mejores</a></li> 
        <li><a href="#">Novedades</a></li> 
        <li><a href="#">Consolas</a></li> 
        <li><a href="#">login</a></li> 
     </ul>
  </nav>
  
  <section>
  <header>
    <h2 >El juego destacado de la semana </h2>
 </header>
 <div class="Destacado-Semanal">
  
 <img src="images/mario-bros-35-a.jpg" alt= "Imágen de Super Mario Bros 35 años"/>
    <p>SUPER MARIO BROS: HISTORIA DEL JUEGO ICÓNICO DE NINTENDO

      Fue creado por .... en 1980. Desde sus comienzos ....
      
      SU EVOLUCIÓN:...</p>
    </div>
</section>
<section>
  <div>
    <img src="images/gta 5.png" alt="Portada de GTA 5"/>
  <p>Uno de los juegos con más controvers{ias por el grado de violencia y actos bandálicos, 
    pero que atrae a chicos y no tanto. 
  Todo lo que se necesita también para tener los medios de trasporte de tu preferencia, los famosos mods.
  Las consolas donde puedes jugarla y cómo la clasifican los expertos.</p>
  
  </div>
</section>

  <footer>

    <p> Todos los derechos reservados </p>
    <div>
      <ul>
        <li> <a href="#">¿Quiénes somos?</a></li>
        <li> <a href="#">Contactos</a></li>
        <div>
          <img src="images/logo redes socialles.png" alt= "Imágen de logos de redes sociales"/>
        </div>
        <li> <a href="#">Información legal</a></li>
      </ul> 
  
    </div>
  </footer>
</body>
</html>
      
      
