<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Grupo 1</title>
  </head>
  <body>
    <header><h1>Juegoland</h1></header>
    <p> Bienvenidos a la esta recopilación de juegos para distintas consolas</p>

    <!---barra_navegación--- >

   <nav class="barra-de-navegacion">
    <ul>
    <li><a href="#">Logo Juegoland</a></li> 
    <li><a href="#">Los 10 mejores</a></li> 
    <li><a href="#">Novedades</a></li> 
    <li><a href="#">Consolas</a></li> 
    <li><a href="#">Loguin</a></li> 
  </nav>
  </body>
</html>
